<!DOCTYPE html>
<html lang="en" ng-app="module1">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <h1>TopBar</h1>
    <a href='#!/view1'>View1</a>
    <a href='#!/view2'>View2</a>
    <div class="content" ng-view></div>

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
    <script src="public/modules/module1.js"></script>
  </body>
</html>


<!-- <!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <script src="ang/angular.min.js"></script>
    <script src="ang/angular-route.min.js"></script>
    <input type="text" ng-model="words">{{words}}

    <ul class="repeating" ng-init = "peeps = [{name: 'Leo', city: 'LA'}, {name: 'Juan', city: 'SD'}, {name: 'Jose', city: 'SF'}, {name: 'Juana', city: 'SF'}]">
      <li ng-repeat="person in peeps | filter: words | orderBy:'city '">{{person.name}} - {{person.city}}</li>
    </ul>

  </body>
</html> -->